# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# Local configuration
local.properties

# Log Files
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.apk

# IntelliJ
*.iml
.idea/

# Keystore files
*.jks
*.keystore

# macOS
.DS_Store

# Windows
Thumbs.db